*{
    font-size: 18px;
    --font-size-big: 1.5rem;
    --font-size-medium: 1.3rem;
    --font-size-normal:1rem;
    --font-size-small: 0.3rem;
    --red-color: rgb(204, 42, 42);
    --black-color: black;
}

html { font-size: calc(1em + 1vw) }
body{
    font-size: var(--font-size-small);
}
.tkd_banner {
    width: 100%;
    max-height: auto;
    max-width:auto;
    text-align:center;
    padding-top:90px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  table, th, tr, td {
      table-layout: auto;
      border-collapse: collapse;
      background-color: black;
  }
  th {
      text-align: left;
      vertical-align: middle;
      background-color: #466995;
  }
  td {
      text-align: center;
    }
    .nav{
        background: var(--black-color);
    }
.nav_link {
    z-index: 10;
    color: var(--red-color);
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline;
    padding: 0px 20px;
    text-align: right;
    z-index:1.5;
}
ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: left;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--red-color);
    font-weight: 600;
}
a:hover {
    color: var(--red-color)
  }
  a:active {

}
 a:visited {
    color:var(--red-color);
    text-decoration: underline;
  }
 a:link {
    color: var(--red-color)
 }


header {
    position: fixed;
    background-color: var(--main-color);
    width: 100%;
    z-index: 1;
    height:100px;
}
.kick_ludesch{
    width: 45%;
    padding-top:0px;
}
form{
align-items:center ;
font-size: var(--font-size-small);
}