body{
    text-align:center;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
}
.container{
/*     display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px; */
}
.container > div {
/*     background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px; */
  }
.checkBox{

}
.task{
/* tex-align: center; */
}
.responsible{

}
.index{

}
.deleteButton{

}