 body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
} 
#container{
max-width: 1000px;
height: auto;
background-image: url(../media/thumbnail_IMG_1908.jpg);
margin: 20px auto;
}  
#toDoList{
    width: 990px;
    height: 500px;
/*     background-color: rgb(180, 180, 180, 0.4); */
    padding: 20px;
}
h5{

    color: white;
    padding-bottom: 20px;
}
h2 {
    text-align:center;
    color: white;
}

.list-group-item {
padding: 0;
}
.input{
    margin-top: 10px;
}
.btn-delete-all {
margin-top: 20px;
}
a{
    align-self: center;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;
}
a:visited {
    color: white;
}
a:link {
    color: #ffffff;
    padding:20px;
}
 