html {
    font-size: calc(1em + 1vw)
}
body {
    background-color: #DBE9EE;
    min-width: 400px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 0.5em;
}
.wrapperImpressum p {
    text-align: center;
}
header {
    position: fixed;
    background-color: #466995;
    width: 100%;
    z-index: 1;
}
h1 {
    color: #466995;
    text-transform: uppercase;
}
h2 {
    color: #466995;
}
p {
    padding-left: 20px;
}
.align_left {
    text-align: left;
}
ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: left;
}
.nav_link {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline;
    z-index: 10;
    padding: 10px 20px;
}
.link_tools {
    background-color: #466995;
    text-align: center;
    padding: 10px 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: #DBE9EE;
    text-decoration: underline;
}
a:visited {
    color: #FFF;
}
a:link {
    color: #FFF;
}

.zutaten {
    text-align: left;
    padding: 0 0 0 220px;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
table,
th,
tr,
td {
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid #466995;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
th {
    text-align: left;
    vertical-align: middle;
    height: 15px;
    padding: 15px;
    background-color: #466995;
    color: white;
}
td {
    padding: 15px;
    text-align: left;
}
footer {
  background-color: #DBE9EE;
    position: fixed;
    bottom: 0;
    text-align: center;
    text-align: middle;
    height: 30px;
    padding: 15px 10px 5px;
    width: 100%;
    z-index: 1;
}
.newpage {
  box-sizing: border-box;
    position: relative;
    background-color: #DBE9EE;
    padding-top: 150px;
    text-align: center;
    width: 100%;
    bottom: 50px;
    height: 100vh;
}
.newtopic {
    box-sizing: border-box;
    background-color: #DBE9EE;
    padding: 102px 0 40px;
    text-align: center;
    width: 100%;
}
#gelerntes  {
    height: 100vh;
}
#sprachen {
    height: 100vh;
}
.gelerntes {
    text-align: center;
}
.hobby {
    box-sizing: border-box;
    position: relative;
    background-color: #DBE9EE;
    position: right;
    width: 100%;
}
.img_floatleft {
    float: left;
    padding: 20px;
}
.roundCorner{
  border-radius: 50%;
}
img {
  padding: 20px;
    vertical-align: middle;
    align-content: center;

}
.bg_image {
    padding: 0;
    margin-top: 76px;

}
.imgAbout {
    float: left, width 20%;

}
.hobby {
    text-align: center;
}
.hobby1 {
    float: left;
    width: 150px;
}
.hobby2 {
    float: left;
    width: 150px;
}
.halloween {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBE9EE;
    width: 100%;
}
.mygithub {
    text-align: center;
}
.setclear {
    clear: both;
}
